
:host {

    el-erwin.erwin {
        width: auto;
        height: 100%;

        .el-menu--inline {
        	background-color: transparent;
        	border: 0px;
        	
        	.el-menu__items { padding: 0px;}
        }
    }
}