<!-- Header section -->
<el-toolbar class="toolbar"></el-toolbar>

<!-- Body section -->
<div class="content">
  <aside el-side-toolbar>
    <el-sidenav-button class="chevron_button">      
      <md-icon>chevron_right</md-icon>
    </el-sidenav-button>
    <el-sidenav-button class="star_button">
      <md-icon>grade</md-icon>
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>local_offer</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>language</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>supervisor_account</md-icon>   
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>settings_applications</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>extension</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>storage</md-icon>  
    </el-sidenav-button>
  </aside>

  <el-erwin-searchresult class="test-element1">
  </el-erwin-searchresult>

  <el-erwin-article caption="Artikel" class="test-element2">
  </el-erwin-article>

  <el-erwin-channels class="test-element3">
  </el-erwin-channels>

  <section el-main-section>
  </section>
</div>
