@import "src/less/vars.less";
@import "src/less/mixins.less";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* Header section */
    .toolbar {
        flex: 0 0 64px;
    }

    /* Body section */
    .content {
        align-content: stretch;
        background-color: @color3;
        display: flex;
        flex: 1;
        height: 100%;
        width: 100%;

        [el-side-toolbar], el-side-toolbar {
            background-color: @color1;
            flex: 0 0 42px;
        }

        el-erwin-searchresult.test-element1 {
            flex: 0 0 230px;
        }

        el-erwin.test-element2 {
            flex: 0 0 150px;
        }

        [el-main-section], el-main-section {
            //flex: 1;
        }
    }

    #mainGrid {
        height: 100%;
        width: 100%;
    }

    paper-menu, paper-listbox { border: 1px solid;}
    paper-menu { 
        --paper-menu-background-color: @color9;
        --paper-menu-color: @white;
    }

    vaadin-combo-box-overlay {
        --vaadin-combo-box-overlay-max-height: 100%;
    }
}