<!-- Header section -->
<el-toolbar></el-toolbar>

<!-- Body section -->
<div class="content">
  <aside el-side-toolbar>
    <el-sidenav-button class="chevron_button">      
      <md-icon>chevron_right</md-icon>
    </el-sidenav-button>
    <el-sidenav-button class="star_button">
      <md-icon>grade</md-icon>
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>local_offer</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>language</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>supervisor_account</md-icon>   
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>settings_applications</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>extension</md-icon>  
    </el-sidenav-button>
    <el-sidenav-button>
      <md-icon>storage</md-icon>  
    </el-sidenav-button>
  </aside>

  <el-erwin-searchresult class="test-element1"></el-erwin-searchresult>

  <el-erwin caption="Test" class="test-element2">
    <paper-input label="Firstname"></paper-input>
    <paper-input label="Lastname"></paper-input>
  </el-erwin>

  <section el-main-section>
    <vaadin-grid id="mainGrid" selection-mode="multi" [items]="articles">
      <table>
        <colgroup>
          <col name="artikel_nr" />
          <col name="bezeichnung" />
          <col name="h_article_nr" />
          <col name="bestell_nr" />
          <col name="ek_netto" />
          <col name="rabatt" />
          <col name="shop_vk" />
          <col name="ebay_vk" />
          <col name="amazon_vk" />
          <col name="kapazitat" />
          <col name="farbe" />
          <col name="gewicht" />
          <col name="hersteller" />
          <col name="status" />
        </colgroup>
        <thead>
          <tr>              
             <th>Artikel-Nr.</th>
             <th>Bezeichnung</th>
             <th>H-Artikel-Nr.</th>
             <th>Bestell-Nr.</th>
             <th>EK netto</th>
             <th>Rabatt</th>
             <th>Shop VK</th>
             <th>eBay VK</th>
             <th>Amazon VK</th>
             <th>Kapatzitäat</th>
             <th>Farbe</th>
             <th>Gewicht</th>
             <th>Hersteller</th>
             <th>Status</th>
          </tr>
        </thead>
      </table>
    </vaadin-grid>    
  </section>
  <!--
  <div el-column></div>
  <div el-column></div>
  -->
</div>
<el-menu class="el-menu" #testMenu >test</el-menu>
