<h1 *ngIf="title" class="el-menu__title">{{ title }}</h1>
<ul class="el-menu__items">
    <li *ngFor="let item of items" class="el-menu__items__item">
        <button md-button class="el-menu__items__item__button" (click)="menuClicked(item,$event)">
            <md-icon *ngIf="item.icon">{{item.icon}}</md-icon>
            <span class="el-menu__items__item__button__title">{{item.title}}</span> 
            <span class="el-menu__items__item__button__subtitle">{{item.subtitle}}</span>     
        </button>
    </li>       
</ul>
