<h1 *ngIf="title" class="el-menu__title">{{ title }}</h1>
<ul class="el-menu__items">
    <li *ngFor="let item of items" class="el-menu__items__item">
        <button md-button class="el-menu__items__item__button" (click)="menuClicked(item,$event)">
            <md-icon *ngIf="item.iconpre">{{item.iconpre}}</md-icon>
            <span class="el-menu__items__item__button__title">{{item.title}}</span> 
            <md-icon class="el-menu__items__item__button__subtitle" *ngIf="item.iconpost">{{item.iconpost}}</md-icon>     
        </button>
    </li>       
</ul>
