@import "src/less/vars.less";
@import "src/less/mixins.less";

/*
  Generates a custom el-menu style

  params:

  - name(text): name of custom style
  - color(color): menu elements font color(default: black)
  - width(px): width of the component (default: 200px)
  - padding(px): padding for main element (default: 5px)
  - border-size(px): size of the outer border (default: 1px)
  - item-padding(px): padding for menu items (default: 5px)
  - background-color(color): background color of element (default: @color9)
*/
.el-menu(
  @name, 
  @color: @color2,
  @width:200px,
  @padding:5px,
  @border-size: 1px,
  @item-padding: 5px,
  @background-color: white) {

  :host {
    &.el-menu--@{name}  {
      background-color: @background-color;
      border: @border-size solid @color2;
      color: @color;
      padding: @padding;
      width: @width;

      .el-menu__title {
        color: @color1;
        background-color: beige;
        border-bottom: 1px solid @color7;
      }

      .el-menu__items {
        padding: @item-padding;

        .el-menu__items__item {
          padding: 5px 0 0 0;

          &:not(:last-child) {
            padding-bottom: 5px;
          }
          
          .el-menu__items__item__button {
            .el-menu__items__item__button__title {
            }

            .el-menu__items__item__button__subtitle {
            }
          }
        }
      }
    }
  }
}


:host {
    display: block;
    background-color: @white;

    ::-webkit-scrollbar {
      width: 6px;
    }
 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
        border-radius: 5px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    }    

    .el-menu__title {
        background-color: @color1;
        border-bottom: 1px solid @color7;
        color: @white;
        font-size: 0.6em;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 5px;
        text-align: center;
    }

    .el-menu__items {
        list-style: none;
        overflow-y: scroll;

        .el-menu__items__item {
            &:not(:last-child) {
                border-bottom: 1px solid @color7;
            }
            
            .el-menu__items__item__button {
                padding: 0 5px;
                width: 100%;

                md-icon {
                    color: @color2;
                    float: left;
                    font-size: 28px;
                    line-height: 1.3;
                    padding-right: 5px;
                }

                .el-menu__items__item__button__title {
                    float: left;
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                .el-menu__items__item__button__subtitle {
                    float: right;
                    font-size: 0.7em;
                }
            }
        }
    }

    &.el-menu--floating {
        position: absolute;
        width: 200px;

        .el-menu__items {
            max-height: 300px;
        }
    }
}

.el-menu(inline, 
  @background-color:transparent, 
  @border-size: 0,
  @item-padding:0px);

.el-menu(button-dropdown, 
  @width:200px);