/* Base colors */
@color1: #002f52;
@color2: #184262;
@color3: #f6f6f6;
@color4: #ccc;
@color5: #b4a321;   /* yellow */
@color6: #e58632;   /* orange */
@color7: #2f485c;   /* dark blue */
@color8: #d7560a;   /* dark orange */
@color9: #526c80;   /* light blue */
