@import "src/less/vars.less";
@import "src/less/mixins.less";

.badge-button {
	border: 1px solid @color2;

	position: relative;

	.badge-button__badge {
	    display: block;
	    position: absolute;
	    top: 25px;
	    right: -5px;
	    background-color: red;
	    width: 15px;
	    height: 15px;
	    .border-radius(5px);
	    color: #fff;
	    font-size: 0.7em;
	    line-height: 1.8;
	    font-weight: bold;
	}
}
