<md-toolbar class="toolbar">
	<header el-header class="toolbar__header">
		<img src="app/res/img/logo.png">
	</header>

	<nav el-header-nav class="toolbar__nav">
		<div class="toolbar__nav__flex-left"></div>

		<div class="toolbar__nav__flex-center">
			<div class="toolbar__nav__flex-center__searchbox">
				<input type="text">
				<button>Sh</button>
				<button>Bo</button>
			</div>
		</div>
		
		<div class="toolbar__nav__flex-right">
			<div class="toolbar__nav__flex-right__notification">
				<button>Ta</button>
				<button>Al</button>
				<button>No</button>
			</div>
		</div>

		<div class="toolbar__menu">
			<button>Hm</button>
		</div>
	</nav>
</md-toolbar>
