<!-- Header section -->
<el-toolbar></el-toolbar>

<!-- Body section -->
<div class="content">
  <aside el-side-toolbar></aside>
  <section el-main-section>
    <vaadin-grid id="mainGrid" selection-mode="multi" [items]="customers">
      <table>
        <colgroup>
          <col name="firstName" />
          <col name="lastName" />
          <col name="email" />
        </colgroup>
      </table>
    </vaadin-grid>
  </section>
  <!--
  <div el-column></div>
  <div el-column></div>
  -->
</div>
