@import "src/less/vars.less";
@import "src/less/mixins.less";

:host {
	/* Header section */

	/* Body section */
	.content {
		align-content: stretch;
		background-color: @color3;
		display: flex;
		height: 100%;
		width: 100%;

		[el-side-toolbar], el-side-toolbar {
			background-color: @color1;
			flex: 0 0 42px;
		}

		el-erwin.test-element1 {
			flex: 0 0 120px;
		}

		el-erwin.test-element2 {
			flex: 0 0 140px;
		}

		[el-main-section], el-main-section {
			flex: 1;
		}
	}

	#mainGrid {
		height: 300px;
		width: 100%;
	}
}