@color1: #002f52;
@color2: #184262;
@color3: #f6f6f6;

/* Header section */
.header-toolbar {
	background-color: @color1;
	border-bottom: 1px solid @color2;
	padding: 0 10px;

	[el-header], el-header {
		height: 100%;

		/* TODO: remove after adding image */
		background-color: rgba(255, 255, 255, 0.2);

		width: 118px;
	}

	[el-header-nav], el-header-nav {
		height: 100%;

		/* TODO: remove after adding image */
		background-color: rgba(0, 0, 0, 0.2);

		flex: 1;
	}
}

/* Body section */
.content {
	background-color: @color3;
	height: 100%;
	width: 100%;

	[el-side-toolbar], el-side-toolbar {
		height: 100%;
		width: 42px;
		background-color: @color1;
	}
}