<el-erwin class="erwin" caption="eBay Parameter" #erwin6 >

	<paper-dropdown-menu name="channel-article-dropdown" label="Website" noink=true no-animations=true>
		<paper-listbox class="dropdown-content" selected="0">
	    <paper-item>eBay Deutschland</paper-item>
	  </paper-listbox>	
	</paper-dropdown-menu>

	<paper-dropdown-menu name="channel-article-dropdown" label="Verkäufer" noink=true no-animations=true>
		<paper-listbox class="dropdown-content" selected="0">
	    <paper-item>eBay-User_1</paper-item>
	  </paper-listbox>	
	</paper-dropdown-menu>

	<div class="inline-elements">
		<paper-dropdown-menu name="channel-article-dropdown" label="Aktionstyp" noink=true no-animations=true>
			<paper-listbox class="dropdown-content" selected="0">
		    <paper-item>Festpreis</paper-item>
		  </paper-listbox>	
		</paper-dropdown-menu>

		<paper-dropdown-menu name="channel-article-dropdown" label="Dauer" noink=true no-animations=true style="padding-left: 5px;">
			<paper-listbox class="dropdown-content" selected="0">
		    <paper-item>7 Tage</paper-item>
		  </paper-listbox>	
		</paper-dropdown-menu>		
	</div>

	<paper-dropdown-menu name="channel-article-dropdown" label="Zahlungsprofil" noink=true no-animations=true>
		<paper-listbox class="dropdown-content" selected="0">
	    <paper-item>DE-Standard</paper-item>
	  </paper-listbox>	
	</paper-dropdown-menu>

	<paper-dropdown-menu name="channel-article-dropdown" label="Versandprofil" noink=true no-animations=true>
		<paper-listbox class="dropdown-content" selected="0">
	    <paper-item>DE-Standard</paper-item>
	  </paper-listbox>	
	</paper-dropdown-menu>

	<paper-dropdown-menu name="channel-article-dropdown" label="Rücknahmeprofil" noink=true no-animations=true>
		<paper-listbox class="dropdown-content" selected="0">
	    <paper-item>DE-Standard</paper-item>
	  </paper-listbox>	
	</paper-dropdown-menu>

</el-erwin>
